{% extends "index.html" %}

{% block content %}
<h1 class='list'>N! Calculator</h1>

<form action="" class='list'> 
    <label for="txt1" class='label'>Number:</label> 
    <input type="text" class='list' id="txt1">
    <!-- Use Ajax to update the sum of N!-->
    <button type="button" onclick="sumUp()" class='label'>Submit</button>
    <p class='label'>Result: <span id="result"></span></p> 
</form>

<div class='list'>
    <li class='label'><a href="{{ url_for('index') }}">Home Page</a></li></li>
</div>
{% endblock %}

